<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.0.273-beta" targetFramework="net451" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net451" />
  <package id="CronExpressionDescriptor" version="1.17.0" targetFramework="net451" />
  <package id="Quartz" version="2.3.3" targetFramework="net451" />
  <package id="TaskScheduler" version="2.5.11" targetFramework="net451" />
</packages>